# ============================================
# SMART PORTS v0.7
# MODO LOCAL
# ============================================
PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=TU_CLAVE_LOCAL
DB_NAME=smart_ports

# Si DATABASE_URL está vacío, se usan las variables DB_* de arriba.
DATABASE_URL=
DB_SSL=false

JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_LARGA_Y_ALEATORIA
INITIAL_ADMIN_EMAIL=admin@smartports.com
INITIAL_ADMIN_PASSWORD=1234
SEED_DEMO_DATA=true
