# PostgreSQL LOCAL actual
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=Hb72131638
LOCAL_DB_NAME=smart_ports

# PostgreSQL CLOUD
DATABASE_URL=postgresql://postgres.uguavlmzcbuypqacwqlp:[72131638Hb72131638]@aws-0-us-east-2.pooler.supabase.com:5432/postgres
DB_SSL=true

# Solo escribe SI cuando estés seguro.
# La migración reemplaza los datos que haya en la base CLOUD.
CONFIRM_REPLACE_CLOUD=SI
